body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: "Computer Modern";
    src:
        local('CMU Serif Extra'),
        url('/fonts/cmunrb.otf');
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: "Computer Modern";
    src: 
        local('CMU Serif'),
        url('/fonts/cmunrm.otf');
}

h2 {
    font-size: 1.5em;
    font-family: "Computer Modern";
    src: 
        local('CMU Serif'),
        url('/fonts/cmunrm.otf');
}

p {
    font-family: "Computer Modern";
    src: 
        local('CMU Serif'),
        url('/fonts/cmunrm.otf');
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px;
    font-family: "Computer Modern";
    src: 
        local('CMU Serif'),
        url('/fonts/cmunrm.otf');
    font-size: 1.4em;
}

ul.posts li {
    list-style: none;
}

img {
    margin-left: 5px;
    margin-right: 5px;
}
